/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* focus styles */

:focus {
	outline: 0;
	}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    max-width: 100%;
    border: 1px solid black;   
    /* remove the border when done with styling!!! */
}

/* general styles copied */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;
}

a{
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

h1 {
    font-size: 10rem;
    font-family: 'Chelsea Market', cursive;
    color: white;
}

section{
    pad: 4% 0;
}

/* header styles */

.navigation {
    background-color:blueviolet;
}

.navigation h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 4%;
    padding-top: 2%;
    border: 0;
}


nav{
    padding:2% 0;
    margin-top: .1%;
}
nav a{
    display: inline-block;
    padding: .5% 0;
    width:8%;
    font-size: 3rem;
    color: crimson;
    text-align: center;
    background-color: darkgoldenrod;
    margin-left: 6%;
    border:2px solid #266035;
}
nav a:hover{
    background-color: turquoise;
    color: black;
}

/* section1 */

.left img{
    width: 30%;
    margin-top: 3%;
    margin-left: 8%;
}

.right{
    width:30%;
    margin-left:55%;
    position: absolute;
    top:50%;
    font-size: 2rem;
}

.right h2{
    margin-bottom: 1%;
}

.right button{
    background-color: darkgoldenrod;
    border:2px solid #266035;
    color:crimson;
    width: 30%;
    padding: 4%;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.right button:hover{
    background-color: turquoise;
    color:black;
}

/* section2 */

.section2{
    /* background-image: url(../images/cat.jpg);
    width: 10%; */
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */

}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8{
    width: 20%;    
}

.pictureText h3{
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 295%;
    
}

/* footer */

footer{
    background-color:blueviolet;
    padding: 6%;
    text-align: center;
    color: cornsilk;
    font-size: 4rem;
}
footer button{
    color: crimson;
    background-color: darkgoldenrod;
    border:2px solid #266035;
    padding: 1.5% 0;
    width:15%;
    margin-top: 1%;
    font-size: 3rem;
    text-align: center;
}
footer button:hover{
    background-color: turquoise;
    color: black;
}





























